body {
    background-color: #f0f0f0;
    background-image: url("city.jpg");
    background-size: cover;
}

h1 {
    color: rgba(255,0,0,0.8);
}

.section-header {
    background: linear-gradient(to right, blue, lightblue);
    color: white;
    padding: 10px;
}