a:link {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: purple;
}

.navMenu {
    list-style-type: none;
}

.navMenu li {
    padding: 10px;
    margin: 5px;
}